#!/bin/bash

. .scripts/utils.sh

build_service() {
    local service_name=$1
    local path=$2

    echo "building service '$service_name'"
    (cd $path && go mod tidy && go build)
}

while getopts as: opt; do
    case $opt in
        a)
            traverse_services_func build_service
            ;;

        s)
            service_func ${OPTARG} build_service
            ;;

        ?)
            echo "unsupported option"
            exit 1
            ;;
    esac
done

exit 0
