package main

import (
{{- range .GetTemplateImports templateName}}
    {{.Alias}} "{{.Path}}"
{{- end}}
)

func main() {
    svc := mikros.NewService(&options.NewServiceOptions{
        {{.NewServiceArgs}}
    }){{if .HasFeaturesExtensions}}.WithExternalFeatures({{.ExternalFeaturesArg}}){{end}}{{if .HasServicesExtensions}}.WithExternalServices({{.ExternalServicesArg}}){{end}}

    svc.Start(&service{})
}
