# Binaries
## Ignore all
*

## Unignore all with extensions in directories
!*.*

## Unignore all dirs
!*/

## Unignore Dockerfile
!Dockerfile

# OS
.DS_Store

# Languages
cover.html
cover.txt

# Temporary files
*.swp

# VSCode remote containers
.devcontainer

# IDEs
.idea
.vscode
