# {{.RepositoryName}}

Monorepo of services.

## Managing the repository

The repository management can be done by execute `make` command followed by any
supported subcommand.

The **Makefile** located at the root of the repository provide several helper
commands to ease the execution of some actions on the services from the own
repository.

The main commands that it provides are the following:

* `make build`: builds all services inside the repository.
* `make tests`: executes unit tests for all services inside the repository.

For more details of what is available, execute:
```!bash
make help
```
at the root directory of the repository, and it will show a list of available
commands that can be executed.
